{% extends "base.html" %}

{% block content %}

<h1>Your Releases - {{ project.title }}</h1>

<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Date</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr>
      <td>{{ release.version }}</td>
      <td>{{ release.datetimeon.strftime('%-d %b, %Y') }}</td>
      <td><a href="{{ url_for('project.release', project_id=project.id, release_id=release.id)}}">view <span class="glyphicon glyphicon-file"></span></a></td>
      <td><a href="{{ url_for('project.edit_release', project_id=project.id, release_id=release.id) }}">edit <span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="{{ url_for('project.delete_release', project_id=project.id, release_id=release.id) }}">delete <span class="glyphicon glyphicon-minus"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}