{% extends "base.html" %}
<h1>Project</h1>

{% block content %}

    <h1>Tags</h1>

    {% for value, count, size in top_tag_counts %}
    {% set size2 = size//2 %}
        <a href='/tags/{{value}}' style='font-size:{{size}}px;margin-left:{{size2}}px;margin-right:{{size2}}px;'>{{value}}</a>
    {% endfor %}


    <h3>{{ tag }}</h3>

    <div>
        {% for project in projects %}
        <div>
            <a href="{{ url_for('project.view', project_id=project.id) }}">{{ project.title }}</a>
            <div>
            {% set thumb = project.image_thumb(100,100) %}
            {% if thumb %}
                <a href="{{ url_for('project.view', project_id=project.id) }}">
                    <img src="{{ thumb }}">
                </a>
            {% endif %}
            </div>
            <div>
            {{ project.summary_html|safe }}
            </div>
        </div>
        {% endfor %}

        {% if prev_start %}
            <a href='?start={{prev_start}}'>previous</a>
        {% endif %}
        <a href='?start={{next_start}}'>next</a>
    </div>



{% endblock %}