__pycache__
.idea
.coverage*
anenv
venv/
coverage.xml
docs/_build/
junit.xml
node_modules
pygameweb.egg-info
.DS_Store
.cache/
.env
.hg/
.hgignore
frontend/
graphic_design/
nmig/
*.sublime-project
*.sublime-workspace
readme.txt
scripts
