alembic
bcrypt
click
dnspython
feedparser
Flask
flask_admin
flask-bootstrap
Flask-Caching
flask-debugtoolbar
Flask-Gravatar
flask_limiter
flask-nav
Flask-Security-Fork==2.0.1
flask_sqlalchemy_session
Flask-WTF
ghdiff
numpy
pandas
psycopg2
python-dotenv
python-slugify
pyquery
pygments
pq
scikit-learn
scipy
sphinx
