Flask-SQLAlchemy==2.4.0
mypy==0.711
mock==4.0.2
ipdb==0.12
pep8==1.7.1
pytest==6.0.1
pytest-cache==1.0
pytest-cov==2.7.1
pytest-flask==0.15.0
pytest-mock==1.10.4
pytest-mccabe==0.1
pytest-pep8==1.0.6
pytest-pylint==0.14.0
pytest-timeout==1.3.3
pytest-watch==4.2.0
pytest-xdist==1.29.0
sqlalchemy_pytest_fixtures==0.3.0
twine==1.13.0
wheel==0.35.1
-r requirements.txt
