alembic==1.0.11
bcrypt==3.1.7
click==7.0
dnspython==1.16.0
feedparser==5.2.1
Flask==1.1.1
flask_admin==1.5.3
flask-bootstrap==3.3.7.1
Flask-Caching==1.7.2
flask-debugtoolbar==0.10.1
Flask-Gravatar==0.5.0
flask_limiter==1.0.1
Flask-Login==0.4.1
flask-nav==0.6
Flask-Security-Fork==2.0.1
Flask-SQLAlchemy-Session==1.1
Flask-WTF==0.14.2
ghdiff==0.4
numpy==1.19.1
pandas==1.1.1
psycopg2==2.8.3
python-dotenv==0.10.3
python-slugify==3.0.2
pyquery==1.4.0
Pygments==2.4.2
pq==1.8.0
Sphinx==2.1.2
Werkzeug==0.16
wtforms==2.2.1
