{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>

    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    {% block body -%}
    {% block navbar %}
    {% if nav %}
      {% cache 60*5 %}
        {{ nav.mynavbar.render() }}
      {% endcache %}
    {% endif %}
    {%- endblock navbar %}

    <div class="container" id="content">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
        {{util.flashed_messages(dismissible=True, container=False)}}

        {% block content -%}
        {%- endblock content %}
      </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        {% block sidebar -%}

          {% if sidebar %}
          {% if current_user and url_for_security %}
          <div class="list-group">

            {% if current_user.is_authenticated %}
              <a class="list-group-item" href="{{ url_for_security('logout') }}">Log Out</a>
              <a class="list-group-item" href="{{ url_for('project.new_project') }}">Add a new project</a>
              <a class="list-group-item" href="{{ url_for('project.projects') }}">Your projects</a>

            {% else %}
              <a class="list-group-item" href="{{ url_for_security('register') }}">New members signup</a>
              <a class="list-group-item" href="{{ url_for_security('login') }}">Log In</a>
            {% endif %}
          </div>
          {% endif %}


          {% cache 60*5 %}
            {% set side_stuff = sidebar() %}
            {% set recent_releases = side_stuff.recent_releases %}
            {% set top_tag_counts = side_stuff.top_tag_counts %}

            <h2>Recent Releases</h2>
            <div class="list-group">
            {% for user, project, release in recent_releases %}

              <a href="{{ url_for('project.view', project_id=project.id, release_id=release.id) }}"
                 class="list-group-item">
                <span>{{ release.datetimeon }}<span>
                {% set thumb = project.image_thumb(230,230) %}
                {% if thumb %}
                  <img class="img-responsive" src="{{ thumb }}">
                {% endif %}
                <br>
                {{ project.title }}{% if release and release.version %} - {{ release.version }}{% endif %}
                {# <span>{{ user.title }}</span>#}
              </a>

            {% endfor %}
            </div>


            <div>
            {% for value, count, size in top_tag_counts %}
                <a href='/tags/{{value}}' class="btn btn-default" role="button">{{value}} <span class="badge">{{ count }}</span></a>
            {% endfor %}
            </div>

          {% endcache %}
          {% endif %}

        {%- endblock sidebar %}
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
    <p></p>
      </footer>
    </div><!--/.container-->

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
