{% extends "base.html" %}

{% block title -%}
  {% cache 60*5, 'error_page_title', code|string, message, sub -%}
  Error, {{ code }}, {{ message }}
  {% endcache -%}
{% endblock -%}

{% block content %}
  {% cache 60*5, 'error_page', code|string, message, sub %}
    <section class="error">
      <h1>{{ code }}</h1>
      <h2>{{ message }}</h2>
      <h3>{{ sub }}</h3>

      <p><a href="/">Home</a> - <a href="/docs">Docs</a> - <a
          target="_blank" href="https://github.com/pygame/pygameweb/issues/new"
      >Help Fix This</a></p>
    </section>
  {% endcache %}
{% endblock %}

{% block body_attribs %}{{ super() }}{% endblock body_attribs %}
