{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}

	<h1>Login</h1>
	<form action="{{ url_for_security('login') }}" method="POST" name="send_login_form">
	  {{ send_login_form.hidden_tag() }}
      {{ send_login_form.csrf_token }}
      {{ wtf.form_errors(send_login_form, hiddens="only") }}

	  {{ wtf.form_field(send_login_form.email) }}
      <div class="controls">
          {{ wtf.form_field(send_login_form.submit) }}
      </div>

	</form>

  {% include "security/_menu.html" %}
{% endblock %}
