<div id="awesome" class="awesomePage">


	<section class="grid2 page column">
		<div class="commit_show">
			<div class="headingWrap">
			  	<h1>awesome sauce</h1>
			</div>
		</div>
	</section>



	<section class="grid2 page column">
		<div class="release">
			<div class="headingWrap">
			  	<h1>spotlighted projects</h1>
			</div>
			<div class="releaseWrap displayNone jQreleaseWrap cf">
				<h2 class="releaseTitle">
					<span class="jQrelease_project_title">Project title</span>
					<span class="jQreleaseTitle">1.0.0</span><span>, by</span> <span class="jQrelease_users_title">Joe Blogs</span>
				</h2>

				<a href="" class="jQreleaseLink">
					<img class="jQreleaseImg" src="">
				</a>

				<div class="newsContent news jQrelease_project_summary">project summary</div>
				<div class="newsDateText jQreleaseDateText">20 March 2014</div>
				<div class="admin jQreleaseAdmin"><a href="admin/release/show?id=">edit</a></div>
			</div>
		</div>
	</section>



</div>
