<div id="create" class="createPage">




	<section class="grid2 page column">
		<div class="commit_show">
			<div class="headingWrap">
			  	<h1>downloads</h1>
			</div>
		  	<a href="download.shtml">download.shtml</a>
		</div>
	</section>
	<section class="grid2 page column">
		<div class="commit_show">
			<div class="headingWrap">
			  	<h1>developers</h1>
			</div>
		</div>
	</section>

	<section class="grid2 page column jQcolumn">
		<div class="jQcolumnWrap displayNone">
			<div class="headingWrap">
				<h1 class="jQcolumnName">A heading</h1><br/><br/>
			</div>
			<div class="jQcolumnContent">the content</div>
			<div class="admin jQcolumnAdmin"><a href="admin/column/show?id=">edit</a></div>
		</div>
	</section>




{#
<div class="grid2 page column">
	<div class="videoHolder">
		<video IEsrc="videos/_sm.mp4" width="304" height="224" preload="preload" autoplay="autoplay" loop="loop">
		<source src="videos/_sm.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
		<source src="videos/_sm.ogv" type='video/ogg; codecs="theora, vorbis"'>
		<img src="images/static_.jpg" width="304" height="224" class="jQstaticImages">
		</video>
	</div>
</div>

<section class="grid2 page column">
	<div class="jQimageShuffle displayNone">
		<div class="jQimageWrap">
		</div>
		<div class="shuffleBar">
			<span class="jQimCounter"></span>
			<a href="#" class="jQgoImageShuffle shuffleLinkRight"><img src="images/rightArrow.png"></a>
			<div class="clear"></div>
		</div>
	</div>
</section>

#}


</div>