<div id="headingNav" class="clearIt theNavigation">
    <div id="nav" class="clearIt">
        <ul class="grid6 jQheaderNav">
            <li id="navLogo">
                <a href="#show"><div id="the-logo"></div></a>
            </li>
            <li id="nav_show" class="active">
                <a href="#show" class="show navLink">show</a>
                <a href="#" class="arrowIm jQdropWrap"></a>
            </li>
            <li id="nav_learn">
                <a href="#learn" class="learn navLink">learn</a>
                <a href="#" class="arrowIm jQdropWrap displayNone"></a>
            </li>
            <li id="nav_make">
                <a href="#make" class="make navLink">make</a>
                <a href="#" class="arrowIm jQdropWrap displayNone"></a>
            </li>
            <li id="nav_create">
                <a href="#create" class="create navLink">create</a>
                <a href="#" class="arrowIm jQdropWrap displayNone"></a>
            </li>
            <li id="nav_collaborate">
                <a href="#collaborate" class="collaborate navLink">collaborate</a>
                <a href="#" class="arrowIm jQdropWrap displayNone"></a>
            </li>
            <li id="nav_awesome">
                <a href="#awesome" class="awesome navLink">awesome</a>
                <a href="#" class="arrowIm jQdropWrap displayNone"></a>
            </li>
        </ul>
    </div>
</div>



