<div id="learn" class="learnPage">
	{#
	<div class="grid2 page column">
		<div class="videoHolder">
			<video IEsrc="videos/_sm.mp4" width="304" height="224" preload="preload" autoplay="autoplay" loop="loop">
				<source src="videos/_sm.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				<source src="videos/_sm.ogv" type='video/ogg; codecs="theora, vorbis"'>
				<img src="images/static_.jpg" width="304" height="224" class="jQstaticImages">
			</video>
		</div>
	</div>
	#}

	<section class="grid2 page column jQwiki" data-link="about">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>

	<section class="grid2 page column jQwiki" data-link="tutorials">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>

	<section class="grid2 page column jQwiki wikiCookbook" data-link="CookBook">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>

	<section class="grid2 page column jQwiki" data-link="resources">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>

	<section class="grid2 page column jQwiki" data-link="info">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>

	<section class="grid2 page column">
		<div class="stackExchange">
			<div class="headingWrap">
			  	<h1>questions and answers</h1>
			</div>

			<div class="releaseWrap displayNone jQstackExchangeWrap cf">
				<h2 class="releaseTitle">
					<a href="" class="jQstackExchange_link"><span class="jQstackExchange_title"></span></a>
				</h2>


<!-- 				<div class="newsContent news jQrelease_project_summary">project summary</div>
				<div class="newsDateText jQreleaseDateText">20 March 2014</div>
				<div class="admin jQreleaseAdmin"><a href="admin/release/show?id=">edit</a></div> -->
			</div>
		</div>
	</section>




<!--
{"tags":["python","numpy"],
 "owner":{"reputation":135,
 		  "user_id":3387134,
 		  "user_type":"registered",
 		  "accept_rate":71,
 		  "profile_image":"https://www.gravatar.com/avatar/26fd716460d01f621eb162ea7bac7bd4?s=128&d=identicon&r=PG&f=1",
 		  "display_name":"ulrich",
 		  "link":"http://stackoverflow.com/users/3387134/ulrich"},
 "is_answered":true,
 "view_count":15,
 "answer_count":1,
 "score":-2,
 "last_activity_date":1439655393,
 "creation_date":1439655121,
 "question_id":32026636,
 "link":"http://stackoverflow.com/questions/32026636/add-a-coma-between-the-elements-of-a-numpy-array",
 "title":"add a coma between the elements of a numpy array"
}
 -->


</div>