<div id="make" class="makePage">

	{#
	<div class="grid2 page column">
		<div class="videoHolder">
					<video IEsrc="videos/_sm.mp4" width="304" height="224" preload="preload" autoplay="autoplay" loop="loop">
					<source src="videos/_sm.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
					<source src="videos/_sm.ogv" type='video/ogg; codecs="theora, vorbis"'>
					<img src="images/static_.jpg" width="304" height="224" class="jQstaticImages">
					</video>
		</div>
	</div>
	#}


	<section class="grid2 page column jQwiki" data-link="Hacking">
		<div class="headingWrap">
		  	<h1 class="jQwiki_name"></h1>
		</div>
		<div class="jQwiki_content"></div>
	</section>


	<section class="grid2 page column">
		<div class="commits_show">
			<div class="headingWrap">
			  	<h1>commits</h1>
			</div>
			<p class="displayNone">
				<a href="https://bitbucket.org/pygame/pygame">https://bitbucket.org/pygame/pygame</a>
			</p>
			<div class="jQBitbucketCommits bitbucketCommits" data-repo="pygame/pygame">
				<div class="jQBitbucketCommit cf displayNone">
			    	<a href="" class="jQBitbucketCommitsUserLink">
				    	<span class="jQBitbucketCommitsDisplayName"></span>
				    	<img class="jQBitbucketCommitsAvatar" src="">
				    </a>
			    	<a href="" class="jQBitbucketCommitsLink">
				    	<span class="jQBitbucketCommitsMessage"></span>
				    </a>

				    <div class="jQBitbucketCommitsDate"></div>
			    </div>
			</div>
		</div>
	</section>




	<section class="grid2 page column">
		<div class="Issues_show">
			<div class="headingWrap">
			  	<h1>issues</h1>
			</div>
			<div class="jQBitbucketIssues bitbucketIssues" data-repo="pygame/pygame">
				<div class="jQBitbucketIssue cf displayNone">
			    	<a href="" class="jQBitbucketIssuesLink"><span class="jQBitbucketIssuesTitle"></span></a>
			    	<a href="" class="jQBitbucketIssuesComponentLink inverse"><span class="jQBitbucketIssuesComponent"></span></a>

			    	<span class="jQBitbucketIssuesContent displayNone"></span>
				    <div class="jQBitbucketIssuesDate"></div>
			    </div>
			</div>
		</div>
	</section>



	<section class="grid2 page column jQcolumn">
	<div class="jQcolumnWrap displayNone">
	  <div class="headingWrap">
	    <h1 class="jQcolumnName">A heading</h1><br/><br/>
	  </div>
	  <div class="jQcolumnContent">the content</div>
	  <div class="admin jQcolumnAdmin"><a href="admin/column/show?id=">edit</a></div>
	</div>
	</section>




</div>