<!DOCTYPE html>
    <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <title>pygame</title>
        <meta http-equiv="content-type" content="text/xhtml;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=100" />
        <meta name="viewport" content="width=320, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />


        <meta name="apple-touch-fullscreen" content="yes" />

        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <![endif]-->

{% if is_crawler %}
        <link rel="stylesheet" href="css/pygame.min.css" type="text/css" media="screen" />
{% else %}
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/colours.css" type="text/css" media="screen" />
{% endif %}

        <link type="text/css" rel="stylesheet" href="mediaelement/mediaelementplayer.min.css" />

        <link href="css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet">

        <!--[if IE 6]>
            <link href="css/style.ie6.css?v=444444" rel="stylesheet" type="text/css" />
        <![endif]-->

    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="css/style.ie7.css?v=444444">
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="alternate" type="application/atom+xml" title="pygame.org news (ATOM feed)" href="http://www.pygame.org/feed/news.php?format=ATOM"/>
    <link rel="alternate" type="application/rss+xml" title="pygame.org news (RSS 2.0 feed)" href="http://www.pygame.org/feed/news.php?format=RSS2.0" />

    </head>
    <body>

